.container__not-found{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__not-found h1{
    font-size: 45px;
    margin-bottom: 30px;
}

.home-page-button{
    margin-top: 50px;
}