.container__menu-title{
    color: white;
    margin-bottom: 100px;
}

.container__menu-title > h1{
    font-size: 135px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}
