.container__menu-title{
    color: white;
}

.container__menu-title > h1{
    padding-top: 55px;
    margin-bottom: 100px;
    font-size: 135px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}

.container__menu-title > hr{
    margin: 20px 0 5px;
}

