<app-menu-title ></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        id="1"
        [photoCover]="'assets/imgs/avanade-logo-principal.jpg'"
        [cardTitle]="'O principal especialista Microsoft do mundo'"
        [cardDescription]="'Quando os resultados são importantes, as pessoas falam com a Avanade. Há mais de 25 anos que ajudamos clientes de todos os setores a atingir o seu potencial máximo, desbloqueando o poder da Microsoft.'"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
        id="2"
        [photoCover]="'assets/imgs/our-services.jpg'"
        [cardTitle]="'Os nossos serviços'"></app-small-card>
        <app-small-card
        id="3"
        [photoCover]="'assets/imgs/industry.jpg'"
        [cardTitle]="'A nossa experiência na indústria'"></app-small-card>
        <app-small-card
        id="4"
        [photoCover]="'assets/imgs/inclusion-and-diversity.jpg'"
        [cardTitle]="'Inclusão e Diversidade'"></app-small-card>
    </div>
</div>


