.container__menu-bar{
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.logo-avanade{
    width: 120px;
}

.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.container__menu-bar li{
    list-style: none;
    font-weight: bold;
}

li a:hover {
    font-weight: bold;
    background: linear-gradient(90deg, #ce0569 12.66%, #ff5800 94.55%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}