/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #111111;
    font-family: "segoe UI" ;

}

a{
    text-decoration: none;
}

h1{
    background-image: linear-gradient(90deg, #D500F9, #FF1744, #FF6F00);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
}